<div class="single-card-page">
  <div id="pick-table">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h1>Join or Create a Table</h1>
        <form [formGroup]="editForm" style="display: flex; flex-direction: row; gap: 5px; justify-content: space-around; align-items: center;">
          <mat-form-field>
            <mat-label>Enter table ID</mat-label>
            <input matInput formControlName="tableId" placeholder="8675309">
            @if (this.formTableId.valid) {
              <mat-icon style="color: green" matSuffix>check</mat-icon>
            }
            @if (this.tableIdValue.length >=6 && !this.formTableId.valid) {
              <mat-icon style="color: red" matSuffix>close</mat-icon>
            }
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            [disabled]="!editForm.valid"
            (click)="join()">
            Join table&nbsp;&nbsp;
            <mat-icon matSuffix>fast_forward</mat-icon>
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; flex-direction: row; gap: 20px;">
        <button
          mat-flat-button
          style="flex: 1 1 100%;"
          color="warn"
          (click)="logout()">
          Logout
          <mat-icon matSuffix>close</mat-icon>
        </button>
        <button
          mat-flat-button
          style="flex: 1 1 100%;"
          color="primary"
          (click)="createTable()">
          Create new table&nbsp;&nbsp;
          <mat-icon matSuffix>fiber_new</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
