@import '../../../scss/colors';

@media (prefers-color-scheme: light) {
  .red {
    color: $redTextLight;
  }

  .blue {
    color: $blueTextLight;
  }
}

@media (prefers-color-scheme: dark) {
  .red {
    color: $redTextDark;
  }

  .blue {
    color: $blueTextDark;
  }
}