
@media (prefers-color-scheme: light) {
  .red {
    color: #790242;
  }

  .blue {
    color: darkblue;
  }
}

@media (prefers-color-scheme: dark) {
  .red {
    color: #ff7272;
  }

  .blue {
    color: #7b7bff;
  }
}

