@import '../../../scss/colors';

#cards-wrapper {
  padding: 10px;
  height: 100%;
}

$gameOverRevealedOpacity: 1;
$gameOverUnrevealedOpacity: 0.45;
$spymasterRevealedOpacity: 0.1;

.card {
  background-color: white;
  text-transform: uppercase;
  border: 1px solid #afafaf;
  border-radius: 5px;
  font-size: 1.5em;
  color: #222;
  cursor: no-drop;
  word-break: break-word;
  text-align: center;

  // How unselected cards show after the game ends
  &.gameOver {
    &.red {
      color: $redText;
      border-color: $redBorder;
      background-color: $redBackground;
      opacity: $gameOverUnrevealedOpacity;
    }

    &.blue {
      color: $blueText;
      border-color: $blueBorder;
      background-color: $blueBackground;
      opacity: $gameOverUnrevealedOpacity;
    }

    &.yellow {
      color: $yellowText;
      border-color: $yellowBorder;
      background-color: $yellowBackground;
      opacity: $gameOverUnrevealedOpacity;
    }

    &.black {
      color: $blackText;
      border-color: $blackBorder;
      background-color: $blackBackground;
      opacity: $gameOverUnrevealedOpacity;
    }

    &.red.revealed {
      color: $redText;
      border-color: $redBorder;
      background-color: $redBackground;
      opacity: $gameOverRevealedOpacity;
    }

    &.blue.revealed {
      color: $blueText;
      border-color: $blueBorder;
      background-color: $blueBackground;
      opacity: $gameOverRevealedOpacity;
    }

    &.yellow.revealed {
      color: $yellowText;
      border-color: $yellowBorder;
      background-color: $yellowBackground;
      opacity: $gameOverRevealedOpacity;
    }

    &.black.revealed {
      color: $blackText;
      border-color: $blackBorder;
      background-color: $blackBackground;
      opacity: $gameOverRevealedOpacity;
    }
  }

  // How normal people see things
  &.revealed {
    &.red {
      color: $redText;
      border-color: $redBorder;
      background-color: $redBackground;
    }

    &.blue {
      color: $blueText;
      border-color: $blueBorder;
      background-color: $blueBackground;
    }

    &.yellow {
      color: $yellowText;
      border-color: $yellowBorder;
      background-color: $yellowBackground;
    }

    &.black {
      color: $blackText;
      border-color: $blackBorder;
      background-color: $blackBackground;
    }
  }

  // How the spymaster sees things
  &.spymaster {
    &.red {
      color: $redText;
      border-color: $redBorder;
      background-color: $redBackground;
    }

    &.blue {
      color: $blueText;
      border-color: $blueBorder;
      background-color: $blueBackground;
    }

    &.yellow {
      color: $yellowText;
      border-color: $yellowBorder;
      background-color: $yellowBackground;
    }

    &.black {
      color: $blackText;
      border-color: $blackBorder;
      background-color: $blackBackground;
    }

    &.revealed {
      &.red {
        color: $redText;
        border-color: rgba($redBorder, $spymasterRevealedOpacity);
        background-color: rgba($redBackground, $spymasterRevealedOpacity);
      }

      &.blue {
        color: $blueText;
        border-color: rgba($blueBorder, $spymasterRevealedOpacity);
        background-color: rgba($blueBackground, $spymasterRevealedOpacity);
      }

      &.yellow {
        color: $yellowText;
        border-color: rgba($yellowBorder, $spymasterRevealedOpacity);
        background-color: rgba($yellowBackground, $spymasterRevealedOpacity);
      }

      &.black {
        color: $blackText;
        border-color: rgba($blackBorder, $spymasterRevealedOpacity);
        background-color: rgba($blackBackground, $spymasterRevealedOpacity);
      }
    }
  }

  &.pickable {
    cursor: pointer;
  }
}