@import '../../../scss/colors';

#cards-wrapper {
  padding: 10px;
  height: 100%;
}

.card {
  backgroud-color: white;
  text-transform: uppercase;
  border: 1px solid #afafaf;
  border-radius: 5px;
  font-size: 1.5em;
  color: #222;
}

.card.red {
  color: $redText;
  border-color: $redBorder;
  background-color: $redBackground;
}

.card.blue {
  color: $blueText;
  border-color: $blueBorder;
  background-color: $blueBackground;
}

.card.yellow {
  color: $yellowText;
  border-color: $yellowBorder;
  background-color: $yellowBackground;
}

.card.black {
  color: #222;
  border-color: #afafaf;
  background-color: gray;
}