<div id="cards-wrapper"
  style="display: flex; flex-direction: column; gap: 10px;">
  @for (x of [].constructor(rowCount); track x; let row = $index) {
    <div
      class="card-row"
      style="display: flex; flex-direction: row; flex: 1 1 100%; gap: 10px;">
      @for (y of [].constructor(columnCount); track y; let col = $index) {
        <div
          [class.revealed]="isRevealed(row, col)"
          [class.spymaster]="isSpymaster"
          [class.gameOver]="!!table.winner"
          [class.red]="showRed(row, col)"
          [class.blue]="showBlue(row, col)"
          [class.yellow]="showYellow(row, col)"
          [class.black]="showBlack(row, col)"
          [class.green]="showGreen(row, col)"
          [class.pickable]="canPick(row, col)"
          (click)="revealCard(row, col)"
          class="card"
        style="flex: 1 1 100%; display: flex; justify-content: center; align-items: center;">{{ table.cardFor(row, col).word }}</div>
      }
    </div>
  }
</div>
