@import '../../../scss/colors';

#cards-wrapper {
  padding: 10px;
  height: 100%;
}

$gameOverRevealedOpacity: 1;
$gameOverUnrevealedOpacity: 0.45;
$spymasterRevealedOpacity: 0.1;

.card {
  text-transform: uppercase;
  border: 1px solid #afafaf;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: no-drop;
  word-break: break-word;
  text-align: center;

  // How unselected cards show after the game ends
  &.gameOver {
    &.red {
      opacity: $gameOverUnrevealedOpacity;
    }

    &.blue {
      opacity: $gameOverUnrevealedOpacity;
    }

    &.yellow {
      opacity: $gameOverUnrevealedOpacity;
    }

    &.black {
      opacity: $gameOverUnrevealedOpacity;
    }

    &.red.revealed {
      opacity: $gameOverRevealedOpacity;
    }

    &.blue.revealed {
      opacity: $gameOverRevealedOpacity;
    }

    &.yellow.revealed {
      opacity: $gameOverRevealedOpacity;
    }

    &.black.revealed {
      opacity: $gameOverRevealedOpacity;
    }
  }

  &.pickable {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    color: #222;
    background-color: white;

    // How unselected cards show after the game ends
    &.gameOver {
      &.red {
        color: $redTextLight;
        border-color: $redBorderLight;
        background-color: $redBackgroundLight;
      }

      &.blue {
        color: $blueTextLight;
        border-color: $blueBorderLight;
        background-color: $blueBackgroundLight;
      }

      &.yellow {
        color: $yellowTextLight;
        border-color: $yellowBorderLight;
        background-color: $yellowBackgroundLight;
      }

      &.black {
        color: $blackTextLight;
        border-color: $blackBorderLight;
        background-color: $blackBackgroundLight;
      }

      &.red.revealed {
        color: $redTextLight;
        border-color: $redBorderLight;
        background-color: $redBackgroundLight;
      }

      &.blue.revealed {
        color: $blueTextLight;
        border-color: $blueBorderLight;
        background-color: $blueBackgroundLight;
      }

      &.yellow.revealed {
        color: $yellowTextLight;
        border-color: $yellowBorderLight;
        background-color: $yellowBackgroundLight;
      }

      &.black.revealed {
        color: $blackTextLight;
        border-color: $blackBorderLight;
        background-color: $blackBackgroundLight;
      }
    }

    // How normal people see things
    &.revealed {
      &.red {
        color: $redTextLight;
        border-color: $redBorderLight;
        background-color: $redBackgroundLight;
      }

      &.blue {
        color: $blueTextLight;
        border-color: $blueBorderLight;
        background-color: $blueBackgroundLight;
      }

      &.yellow {
        color: $yellowTextLight;
        border-color: $yellowBorderLight;
        background-color: $yellowBackgroundLight;
      }

      &.black {
        color: $blackTextLight;
        border-color: $blackBorderLight;
        background-color: $blackBackgroundLight;
      }
    }

    // How the spymaster sees things
    &.spymaster {
      &.red {
        color: $redTextLight;
        border-color: $redBorderLight;
        background-color: $redBackgroundLight;
      }

      &.blue {
        color: $blueTextLight;
        border-color: $blueBorderLight;
        background-color: $blueBackgroundLight;
      }

      &.yellow {
        color: $yellowTextLight;
        border-color: $yellowBorderLight;
        background-color: $yellowBackgroundLight;
      }

      &.black {
        color: $blackTextLight;
        border-color: $blackBorderLight;
        background-color: $blackBackgroundLight;
      }

      &.revealed {
        &.red {
          color: $redTextLight;
          border-color: rgba($redBorderLight, $spymasterRevealedOpacity);
          background-color: rgba($redBackgroundLight, $spymasterRevealedOpacity);
        }

        &.blue {
          color: $blueTextLight;
          border-color: rgba($blueBorderLight, $spymasterRevealedOpacity);
          background-color: rgba($blueBackgroundLight, $spymasterRevealedOpacity);
        }

        &.yellow {
          color: $yellowTextLight;
          border-color: rgba($yellowBorderLight, $spymasterRevealedOpacity);
          background-color: rgba($yellowBackgroundLight, $spymasterRevealedOpacity);
        }

        &.black {
          color: $blackTextLight;
          border-color: rgba($blackBorderLight, $spymasterRevealedOpacity);
          background-color: rgba($blackBackgroundLight, $spymasterRevealedOpacity);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    color: #494949;
    background-color: black;

    // How unselected cards show after the game ends
    &.gameOver {
      &.red {
        color: $redTextDark;
        border-color: $redBorderDark;
        background-color: $redBackgroundDark;
      }

      &.blue {
        color: $blueTextDark;
        border-color: $blueBorderDark;
        background-color: $blueBackgroundDark;
      }

      &.yellow {
        color: $yellowTextDark;
        border-color: $yellowBorderDark;
        background-color: $yellowBackgroundDark;
      }

      &.black {
        color: $blackTextDark;
        border-color: $blackBorderDark;
        background-color: $blackBackgroundDark;
      }

      &.red.revealed {
        color: $redTextDark;
        border-color: $redBorderDark;
        background-color: $redBackgroundDark;
      }

      &.blue.revealed {
        color: $blueTextDark;
        border-color: $blueBorderDark;
        background-color: $blueBackgroundDark;
      }

      &.yellow.revealed {
        color: $yellowTextDark;
        border-color: $yellowBorderDark;
        background-color: $yellowBackgroundDark;
      }

      &.black.revealed {
        color: $blackTextDark;
        border-color: $blackBorderDark;
        background-color: $blackBackgroundDark;
      }
    }

    // How normal people see things
    &.revealed {
      &.red {
        color: $redTextDark;
        border-color: $redBorderDark;
        background-color: $redBackgroundDark;
      }

      &.blue {
        color: $blueTextDark;
        border-color: $blueBorderDark;
        background-color: $blueBackgroundDark;
      }

      &.yellow {
        color: $yellowTextDark;
        border-color: $yellowBorderDark;
        background-color: $yellowBackgroundDark;
      }

      &.black {
        color: $blackTextDark;
        border-color: $blackBorderDark;
        background-color: $blackBackgroundDark;
      }
    }

    // How the spymaster sees things
    &.spymaster {
      &.red {
        color: $redTextDark;
        border-color: $redBorderDark;
        background-color: $redBackgroundDark;
      }

      &.blue {
        color: $blueTextDark;
        border-color: $blueBorderDark;
        background-color: $blueBackgroundDark;
      }

      &.yellow {
        color: $yellowTextDark;
        border-color: $yellowBorderDark;
        background-color: $yellowBackgroundDark;
      }

      &.black {
        color: $blackTextDark;
        border-color: $blackBorderDark;
        background-color: $blackBackgroundDark;
      }

      &.revealed {
        &.red {
          color: $redTextDark;
          border-color: rgba($redBorderDark, $spymasterRevealedOpacity);
          background-color: rgba($redBackgroundDark, $spymasterRevealedOpacity);
        }

        &.blue {
          color: $blueTextDark;
          border-color: rgba($blueBorderDark, $spymasterRevealedOpacity);
          background-color: rgba($blueBackgroundDark, $spymasterRevealedOpacity);
        }

        &.yellow {
          color: $yellowTextDark;
          border-color: rgba($yellowBorderDark, $spymasterRevealedOpacity);
          background-color: rgba($yellowBackgroundDark, $spymasterRevealedOpacity);
        }

        &.black {
          color: $blackTextDark;
          border-color: rgba($blackBorderDark, $spymasterRevealedOpacity);
          background-color: rgba($blackBackgroundDark, $spymasterRevealedOpacity);
        }
      }
    }
  }
}