@import "../../../scss/colors";

#lobby {
  max-width:  90%;
  width: 600px;

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  #table-id {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .needed {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;

    &.red {
      color: $redText;
    }

    &.blue {
      color: $blueText;
    }
  }

  .player-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .red {
      color: $redText;
    }

    .blue {
      color: $blueText;
    }

    h2 {
      text-transform: capitalize;
      text-align: center;
    }
  }
}
