@import "../../../scss/colors";

@media (prefers-color-scheme: light) {
  h2.team-title.red, .needed.red.text {
    color: red;
  }

  h2.team-title.blue, .needed.blue.text {
    color: blue;
  }

  .single-card-page {
    background-color: $fullPageBackgroundLight;
  }
}

@media (prefers-color-scheme: dark) {
  h2.team-title.red, .needed.red.text {
    color: #ff7272;
  }

  h2.team-title.blue, .needed.blue.text {
    color: #7b7bff;
  }

  button.mat-mdc-list-item {
    background-color: #4b4545;
  }

  .single-card-page {
    background-color: $fullPageBackgroundDark;
  }
}

#lobby {
  max-width:  90%;

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  #table-id {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .needed {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
  }

  .player-list-wrapper {
    h2 {
      text-transform: capitalize;
      text-align: center;
    }
  }
}
