<div class="single-card-page">
    <div id="lobby">
        <mat-card appearance="outlined">
            <mat-card-content fxLayout="column">
                <h1>Pick Teams</h1>

                <p id="table-id">Table ID#{{table.id}}</p>
                <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="30px">
                    <div class="player-list-wrapper" *ngFor="let team of ['red', 'blue']" fxFlex>
                        <mat-list class="player-list" [class]="team" fxFlex>
                            <h2 class="team-title"
                                [class.red]="team === 'red'"
                                [class.blue]="team === 'blue'">{{ team }} Team</h2>
                            <mat-list-item *ngFor="let player of sortedPlayers(team)"
                                           [class]="team" [title]="player.spymaster ? 'spymaster' : 'normal player'">

                                <mat-icon matListItemIcon>{{ player.spymaster ? 'fingerprint' : 'person' }}</mat-icon>
                                <div mat-line>
                                    <span>{{ player.person.name }}</span>
                                    <span *ngIf="player.person.uuid === myPlayer?.person?.uuid">&nbsp; (me)</span>
                                    <span *ngIf="player.person.uuid !== myPlayer?.person?.uuid && player.spymaster" class="spymaster">&nbsp; (spymaster)</span>
                                </div>
                                <button
                                        mat-icon-button
                                        class="remove-menu"
                                        *ngIf="myPlayer?.person?.uuid !== player.person.uuid"
                                        [matMenuTriggerFor]="menu"
                                        aria-label="Remove player"
                                        matListItemMeta>
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="remove(player)">
                                        <mat-icon>person_off</mat-icon>
                                        <span>Remove</span>
                                    </button>
                                </mat-menu>
                            </mat-list-item>
                            <button mat-list-item
                                    *ngIf="!myPlayer || myPlayer.team !== team"
                                    (click)="setTeam(team)"
                                    style="text-transform: capitalize">
                                <mat-icon>person_add</mat-icon>&nbsp;&nbsp;Play {{ team }}
                            </button>
                            <button
                                    mat-list-item
                                    *ngIf="myPlayer && !myPlayer.spymaster && myPlayer.team === team"
                                    (click)="makeSpymaster()">
                                <mat-icon>fingerprint</mat-icon>&nbsp;&nbsp;I'm the spymaster
                            </button>
                        </mat-list>
                    </div>
                </div>
                <p class="needed red text" *ngIf="!spyMaster('red')">Red needs a spymaster</p>
                <p class="needed blue text" *ngIf="!spyMaster('blue')">Blue needs a spymaster</p>
                <p class="needed red text" *ngIf="spyMaster('red') && nonSpymasterPlayers('red').length < 1">Red needs more players</p>
                <p class="needed blue text" *ngIf="spyMaster('blue') && nonSpymasterPlayers('blue').length < 1">Blue needs more players</p>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutGap="20px">
                <button
                        mat-flat-button
                        color="warn"
                        fxFlex
                        (click)="logout()">
                    Logout
                    <mat-icon matSuffix>close</mat-icon>
                </button>
                <button
                        mat-flat-button
                        color="primary"
                        fxFlex
                        (click)="leave()">
                    Leave Table
                    <mat-icon matSuffix>exit_to_app</mat-icon>
                </button>
                <button
                        *ngIf="!gameInProgress"
                        mat-flat-button
                        color="primary"
                        fxFlex
                        [disabled]="!ready"
                        (click)="startGame()">
                    Start Game
                    <mat-icon matSuffix>play_arrow</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
