<kod-new-player
        *ngIf="mode === 'create-player'"></kod-new-player>

<kod-pick-table
        *ngIf="mode === 'pick-table'"></kod-pick-table>

<kod-lobby
        *ngIf="mode === 'lobby'"
        [table]="table"></kod-lobby>

<ng-container *ngIf="mode === 'play'">
    <ng-container>
        <mat-toolbar class="primary-toolbar header-wrapper"
                     fxLayout="row">
            <div>
                <div class="header-logo-img-wrapper" fxFlex>
                    <img class="header-logo-img" src="/assets/img/MorlokTechnologiesIcon.png" />
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center" >
                <div id="table-id" *ngIf="table">TABLE ID#{{table.id}}</div>
                <kod-score [table]="table"></kod-score>
                <button mat-button *ngIf="canGiveClue" (click)="giveClue()">Give Clue</button>
                <button mat-button *ngIf="canPass" (click)="pass()">Pass</button>
                <button mat-button *ngIf="showNewGame" (click)="newGame()">New Game</button>
            </div>
            <div>
                <button type="button" aria-label="Toggle sidenav" mat-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <button mat-button
                        id="my-profile-button"
                        [matMenuTriggerFor]="menu"
                        class="personButton"
                        [class.red]="myPlayer?.team === 'red'"
                        [class.blue]="myPlayer?.team === 'blue'">
                    <div fxLayout="row" fxFlex>
                        <div class="avatar">
                            <img src="/assets/img/user.png" class="profile-img" [alt]="state.person.name" />
                        </div>&nbsp;
                        <span class="name">
                            {{ state.person.name }}
                            <span *ngIf="myPlayer?.spymaster">(spymaster)</span>
                        </span>
                    </div>
                    <mat-icon style="margin-top: 5px">more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" style="padding-right: 10px;">
                <button mat-menu-item (click)="leaveTable()">
                    <mat-icon>videogame_asset</mat-icon>
                    <span>Leave table</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>lock</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </mat-toolbar>

        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #drawer class="sidenav"
                         fixedInViewport="true"
                         [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                         [mode]="(isHandset$ | async) ? 'over' : 'side'"
                         [opened]="!(isHandset$ | async)">
                <kod-clues [table]="table" [myPlayer]="myPlayer"></kod-clues>
            </mat-sidenav>
            <mat-sidenav-content>
                <kod-cards [table]="table" [myPlayer]="myPlayer"></kod-cards>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </ng-container>
</ng-container>
