$redText: deeppink;
$redBorder: deeppink;
$redBackground: lightpink;

$blueText: darkblue;
$blueBorder: darkblue;
$blueBackground: lightblue;

$yellowText: darkgoldenrod;
$yellowBorder: darkgoldenrod;
$yellowBackground: lightgoldenrodyellow;
