$redText: deeppink;
$redBorder: deeppink;
$redBackground: lightpink;

$blueText: darkblue;
$blueBorder: darkblue;
$blueBackground: lightblue;

$yellowText: darkgoldenrod;
$yellowBorder: darkgoldenrod;
$yellowBackground: lightgoldenrodyellow;

$greenText: darkgreen;
$greenBorder: darkgreen;
$greenBackground: lightgreen;

$blackText: #222;
$blackBorder: #afafaf;
$blackBackground: gray;