<mat-list id="clues-wrapper"
  style="display: flex; flex-direction: column; gap: 10px;">
  @for (clue of table?.clues || []; track clue; let i = $index) {
    <mat-list-item
      class="clue"
      [class.red]="clue.team === 'red'"
      [class.blue]="clue.team === 'blue'">
      <mat-icon matListItemIcon>{{ iconForClue(clue, i === table.clues.length - 1) }}</mat-icon>
      <div mat-line style="white-space: normal">{{ clue.value }} &mdash; {{ clue.count }}</div>
      <div mat-line class="answers">
        @for (card of clue.chosenCards; track card; let i = $index) {
          <span
            class="answer"
            [class.green]="card.color === clue.team"
            [class.wrongRed]="card.color !== clue.team && card.color === 'red'"
            [class.wrongBlue]="card.color !== clue.team && card.color === 'blue'"
            [class.wrongYellow]="card.color !== clue.team && card.color === 'yellow'"
            [class.wrongBlack]="card.color !== clue.team && card.color === 'black'">
            {{ card.word + (i < clue.chosenCards.length - 1 ? ',' : '')}}
          </span>
        }
        @if (cluePassed(clue)) {
          <span class="done">(passed)</span>
        }
      </div>
    </mat-list-item>
  }
  @if (waitingForClue) {
    <mat-list-item>
      <span class='pending-clue'
        [class.red]="table.turn === 'red'"
        [class.blue]="table.turn === 'blue'">
        Waiting on {{ pendingClueSpymasterName }} to give a clue...
      </span>
    </mat-list-item>
  }
  @if (canGiveClue) {
    <mat-list-item>
      <button mat-flat-button
        color="primary"
        style="flex: 1 1 100%;"
        (click)="giveClue()">
        Give Clue
      </button>
    </mat-list-item>
  }
  @if (canPass) {
    <mat-list-item>
      <button mat-flat-button
        color="primary"
        style="flex: 1 1 100%;"
        (click)="pass()">
        {{ passText }}
      </button>
    </mat-list-item>
  }
</mat-list>
