<mat-list id="clues-wrapper"
     fxLayout="column"
     fxLayoutGap="10px">
    <mat-list-item *ngFor="let clue of table?.clues || []; index as i"
                   class="clue"
                   [class.red]="clue.team === 'red'"
                   [class.blue]="clue.team === 'blue'">
        <mat-icon matListItemIcon>{{ iconForClue(clue, i === table.clues.length - 1) }}</mat-icon>
        <div mat-line>{{ clue.value }} &mdash; {{ clue.count }}</div>
        <div mat-line class="answers">
            <span *ngFor="let card of clue.chosenCards; index as i"
                  class="answer"
                  [class.green]="card.color === clue.team"
                  [class.wrongRed]="card.color !== clue.team && card.color === 'red'"
                  [class.wrongBlue]="card.color !== clue.team && card.color === 'blue'"
                  [class.wrongYellow]="card.color !== clue.team && card.color === 'yellow'"
                  [class.wrongBlack]="card.color !== clue.team && card.color === 'black'">
                {{ card.word + (i < clue.chosenCards.length - 1 ? ',' : '')}}
            </span>
            <span *ngIf="cluePassed(clue)" class="done">(passed)</span>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="waitingForClue">
        <span class='pending-clue'
              [class.red]="table.turn === 'red'"
              [class.blue]="table.turn === 'blue'">
            Waiting on {{ pendingClueSpymasterName }} to give a clue...
        </span>
    </mat-list-item>
    <mat-list-item *ngIf="canGiveClue">
        <button mat-flat-button
                color="primary"
                fxFlex
                (click)="giveClue()">
            Give Clue
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="canPass">
        <button mat-flat-button
                color="primary"
                fxFlex
                (click)="pass()">
            {{ passText }}
        </button>
    </mat-list-item>
</mat-list>
