@import '../../../scss/colors';

@media (prefers-color-scheme: light) {
  .clue {
    color: #222;

    &.red {
      color: #790242;
    }

    &.blue {
      color: darkblue;
    }
  }

  .pending-clue {
    color: #222;

    &.red {
      color: #790242;
    }

    &.blue {
      color: darkblue;
    }
  }

  .answer {
    &.green {
      color: darkgreen;
    }

    &.wrongBlue {
      color: darkblue;
    }

    &.wrongRed {
      color: #790242;
    }

    &.wrongYellow {
      color: darkgoldenrod;
    }

    &.wrongBlack {
      color: black;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .clue {
    color: #222;

    &.red {
      color: #ff7272;
    }

    &.blue {
      color: #7b7bff;
    }
  }

  .pending-clue {
    color: #222;

    &.red {
      color: #ff7272;
    }

    &.blue {
      color: #7b7bff;
    }
  }

  .answer {
    &.green {
      color: #70d370;
    }

    &.wrongBlue {
      color: #7b7bff;
    }

    &.wrongRed {
      color: #ff7272;
    }

    &.wrongYellow {
      color: darkgoldenrod;
    }

    &.wrongBlack {
      color: black;
      text-shadow: white 0 0 3px;
    }
  }
}

#cards-wrapper {
  padding: 10px;
  height: 100%;
}

.mat-line.answers {
  white-space: normal;
}

.answer {
  font-style: italic;

  &.green {
  }

  &.wrongBlue {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongRed {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongYellow {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongBlack {
    font-style: normal;
    font-weight: bold;
  }
}

.done {
  font-style: italic;
  color: lightgrey;
}