@import '../../../scss/colors';

.mdc-list-item.clue {
  height: 75px;
}

@media (prefers-color-scheme: light) {
  .clue {
    color: #222;

    &.red {
      .mdc-list-item__start {
        color: $redTextLight;
      }
      .mdc-list-item__content {
        color: $redTextLight;
      }
      --mdc-list-list-item-label-text-color: $redTextLight;
    }

    &.blue {
      .mdc-list-item__start {
        color: $blueTextLight;
      }
      .mdc-list-item__content {
        color: $blueTextLight;
      }
      --mdc-list-list-item-label-text-color: $blueTextLight;
    }

    mat-icon {
      color: inherit;
    }
  }

  .pending-clue {
    white-space: pre-line;
    color: #222;

    &.red {
      color: $redTextLight;
    }

    &.blue {
      color: $blueTextLight;
    }
  }

  .answer {
    &.green {
      color: darkgreen;
    }

    &.wrongBlue {
      color: $blueTextLight;
    }

    &.wrongRed {
      color: $redTextLight;
    }

    &.wrongYellow {
      color: darkgoldenrod;
    }

    &.wrongBlack {
      color: black;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .clue {
    color: #fff;

    &.red {
      .mdc-list-item__start {
        color: $redTextDark;
      }
      .mdc-list-item__content {
        color: $redTextDark;
      }
      --mdc-list-list-item-label-text-color: $redTextDark;
    }

    &.blue {
      .mdc-list-item__start {
        color: $blueTextDark;
      }
      .mdc-list-item__content {
        color: $blueTextDark;
      }
      --mdc-list-list-item-label-text-color: $blueTextDark;
    }

    mat-icon {
      color: inherit;
    }
  }

  .pending-clue {
    white-space: pre-line;
    color: #fff;

    &.red {
      color: $redTextDark;
    }

    &.blue {
      color: $blueTextDark;
    }
  }

  .answer {
    &.green {
      color: #70d370;
    }

    &.wrongBlue {
      color: $blueTextDark;
    }

    &.wrongRed {
      color: $redTextDark;
    }

    &.wrongYellow {
      color: darkgoldenrod;
    }

    &.wrongBlack {
      color: white;
      text-shadow: black 0 0 3px;
    }
  }
}

#cards-wrapper {
  padding: 10px;
  height: 100%;
}

.mat-line.answers {
  white-space: normal;
}

.answer {
  font-style: italic;

  &.green {
  }

  &.wrongBlue {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongRed {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongYellow {
    font-style: normal;
    font-weight: bold;
  }

  &.wrongBlack {
    font-style: normal;
    font-weight: bold;
  }
}

.done {
  font-style: italic;
  color: lightgrey;
}